    /* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansita", system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* overall styling */

h1 {
    font-size: 50px;
    &+p, &~button {
        font-size: 21.5px;
    }
}

body {
    background:url(./asset/background_img.jpg) no-repeat 0% 0% / cover;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 10fr 2fr;
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 2.5%;
}

.grid-container {
    position:relative;
    place-self: stretch;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    grid-auto-rows: 350px;
    overflow-y: auto;

    .book-card {
        background: linear-gradient(to right, #fdcf5840, #ff000040);
        border-radius: 30px;
        font-size: 1.75rem;
        font-weight: bold;
        display: grid;
        border: 2px dashed blue;
        padding: 10px 10px 0 10px;

        &.read {
            background: linear-gradient(to right, #5cdb9533, #05386b33);
        }

        p:not(.title) {
            font-size: 1.45rem;
            font-weight: normal;
            border-bottom: 1px solid green;
        }
        /* button */
        .control {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);

            .remove {
                background: linear-gradient(to right, #240b36, #c31432);
                border-radius: 50px;
                padding: 10px;
                width: min-content;
                height: auto;
            }
            label.toggle {
                position: relative;
                width: 35%;
                height: 60%;
                cursor: pointer;
                transition: 0.4 ease-out;
                input{
                    width: 0;
                    height: 0;
                    &:checked + span.slider::before {
                        left: calc(100% - 45% - 5%);
                    }
                }
                span.slider {
                    position:absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    height: 100%;
                    width: 100%;   
                    background: linear-gradient(to right, rgba(121, 172, 12, 0.533), #00bf7288 30%, #00879388, #004d7a88 70%, #05193788);
                    border-radius: 30px;
                }
                span.slider::before{
                    top: 10%;
                    left: 5%;
                    content: "";
                    position: absolute;
                    width: 45%;
                    height: 80%;
                    border-radius: 30px;
                    background: linear-gradient(45deg,#f0acf7, #acf7f0, #f7f0ac);
                    transition: 0.2s ease-out;
                }
            }
        }
    }
}

button.append {
    font-size: 1.5rem;
    height: 50%;
    width: 10%;
    padding: 5px;
    border-radius: 30px;
    background: linear-gradient(to right, #ebe717A8, #7ec6bcA8);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.2s, transform 0.1s;
    &:hover {
        box-shadow: 0px 5px 20px 0px #ebe717A8;
    }
    &:active {
        box-shadow: none;
        transform: translateY(3px);
    }

}
